.panel {
  height: 450px;
  width: 250px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .image {
    height: 150px;
    width: 250px;
    border-radius: 4px;
    background: #fcf2bd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    object-fit: cover;
  }

  .details {
    margin: 10px;

    .name {
      font-size: 16px;

      .fullname {
        font-size: 14px;
      }
    }

    .description {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.5);
      margin: 10px 0;
    }
    .powerstats {
      display: flex;
      flex-direction: row;
      margin-top: 80px;
      justify-content: space-around;
      height: 70px;
      padding: 10px;

      .stats {
        height: 30px;
        width: 30px;

        .text {
          margin-top: 10px;
          text-align: center;
        }
      }
    }
  }
}
