.work {
  margin: 50px 100px;
  .title {
    font-size: 32px;
    margin-bottom: 50px;
  }

  .information {
    color: #7b7b7b;
    margin-left: 40px;
    div {
      margin-bottom: 10px;
    }
  }
}
